
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 5;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 8;
    }
}

#overlayText {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 8px;
    left: 0;
    width: 32px;
    height: 32px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    background-color: #212121;
    overflow: hidden;

    width: auto;
    min-width: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.radio-artist-background {
    background: url("/static/img/illo_default_artistradio_smallcard.png");
    background-size: 100%;
}

/*.card-columns {*/
/*  @include media-breakpoint-only(xs) {*/
/*    column-count: 1;*/
/*  }*/
/*  @include media-breakpoint-only(sm) {*/
/*    column-count: 2;*/
/*  }*/
/*  @include media-breakpoint-only(md) {*/
/*    column-count: 4;*/
/*  }*/
/*  @include media-breakpoint-only(lg) {*/
/*    column-count: 4;*/
/*  }*/
/*  @include media-breakpoint-only(xl) {*/
/*    column-count: 5;*/
/*  }*/
/*}*/