.lx-square-container {
    /*background-color: red;*/
    background-color: #eeeeee;
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
}

.lx-square-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: white;
}

.lx-square-container .lx-square-text img {
    /*background: yellow;*/
    background: #eeeeee;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flex-item {
    background-color: cornflowerblue;

    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;

    vertical-align: middle;
}

.lx-center {
    width: 100%;
    height: 100%;
    position: relative;
}

.lx-center .lx-center-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
(max-width: 512px)  and (min-resolution: 1.5dppx),
(max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
(max-width: 1024px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('../mdl-template-blog/images/bg_1024.jpg');
    }
}

@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
(min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
(min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
(min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('../mdl-template-blog/images/bg_2048.jpg');
    }
}

@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
(min-width: 1025px) and (min-resolution: 1.5dppx),
(min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
(min-width: 2049px) and (max-resolution: 1.5dppx) {
    body::before {
        background-image: url('../mdl-template-blog/images/bg_2880.jpg');
    }
}

.android-navigation .mdl-navigation__link--current {
    border-bottom: 4px solid #8bc34a;
}

.portfolio-max-width {
    max-width: 1024px;
    margin: auto;
}

.lx-pagination-container .mdl-card {
    width: 100%;
    min-height: 48px;

}

.lx-pagination-container .mdl-card .pagination {
    text-align: right;

    margin: auto;
}

.lx-card.mdl-card {
    width: 100%;
}

.lx-card > .mdl-card__title .mdl-card__title-text {

    min-height: 22px;

    width: 100%;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 16px;
}

.lx-list > .mdl-list__item a span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lx-form {
    min-height: 0;
}

.lx-form .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}