:root {
    --bs-body-bg: var(--bs-gray-100);
}

#overlayText {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 8px;
    left: 0;

    /*width: 32px;*/
    height: 32px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    background-color: #212121;
    overflow: hidden;

    width: auto;
    min-width: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.radio-artist-background {
    background: url("/static/img/illo_default_artistradio_smallcard.png");
    background-size: 100%;
}

.image-inner-wrapper {
    position: absolute;
    top: 0;
}

.image-inner-wrapper {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 100%;
}

.image-inner-wrapper .image {
    border-radius: 50%;
    overflow: hidden;
    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-left: 10%;
    display: inline-block;
}