<div id="quick-nav-container" style>

    <gpm-quick-nav overflow-threshold="3" has-overflow_="" style="--gpm-quick-nav-item-size:72px; min-height: 336px;">
        <div class="items main style-scope gpm-quick-nav">
            <gpm-quick-nav-item slot="main" icon="home" label="Home" aria-selected-label="Home, selected" view-type="home" title="">
                <paper-ripple class="style-scope gpm-quick-nav-item">
                    <div id="background" class="style-scope paper-ripple"></div>
                    <div id="waves" class="style-scope paper-ripple"></div>
                </paper-ripple>
                <a href="/gpm-quick-nav-item/" class="style-scope gpm-quick-nav-item" data-type="home" aria-label="Home">
                    <iron-icon class="style-scope gpm-quick-nav-item">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <g class="style-scope iron-icon">
                                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" class="style-scope iron-icon"></path>
                            </g>
                        </svg>
                    </iron-icon>
                    <span id="label" class="style-scope gpm-quick-nav-item">Home</span></a>
            </gpm-quick-nav-item>
            <gpm-quick-nav-item slot="main" icon="av:library-music" label="Music library" aria-selected-label="Music library, selected" view-type="mylibrary" title="">
                <paper-ripple class="style-scope gpm-quick-nav-item">
                    <div id="background" class="style-scope paper-ripple"></div>
                    <div id="waves" class="style-scope paper-ripple"></div>
                </paper-ripple>
                <a href="/gpm-quick-nav-item/" class="style-scope gpm-quick-nav-item" data-type="mylibrary" aria-label="Music library">
                    <iron-icon class="style-scope gpm-quick-nav-item">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <g class="style-scope iron-icon">
                                <path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z" class="style-scope iron-icon"></path>
                            </g>
                        </svg>
                    </iron-icon>
                    <span id="label" class="style-scope gpm-quick-nav-item">Music library</span></a>
            </gpm-quick-nav-item>
            <gpm-quick-nav-item slot="main" icon="history" label="Recents" aria-selected-label="Recents, selected" view-type="recents" title="">
                <paper-ripple class="style-scope gpm-quick-nav-item">
                    <div id="background" class="style-scope paper-ripple"></div>
                    <div id="waves" class="style-scope paper-ripple"></div>
                </paper-ripple>
                <a href="/gpm-quick-nav-item/" class="style-scope gpm-quick-nav-item" data-type="recents" aria-label="Recents">
                    <iron-icon class="style-scope gpm-quick-nav-item">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <g class="style-scope iron-icon">
                                <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z" class="style-scope iron-icon"></path>
                            </g>
                        </svg>
                    </iron-icon>
                    <span id="label" class="style-scope gpm-quick-nav-item">Recents</span></a>
            </gpm-quick-nav-item>
        </div>
        <iron-icon class="more style-scope gpm-quick-nav" icon="more-horiz">
            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                <g class="style-scope iron-icon">
                    <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" class="style-scope iron-icon"></path>
                </g>
            </svg>
        </iron-icon>
        <div class="items overflow style-scope gpm-quick-nav">
            <gpm-quick-nav-item slot="overflow" icon="star" label="Top charts" aria-selected-label="Top charts, selected" view-type="wtc" title="">
                <paper-ripple class="style-scope gpm-quick-nav-item">
                    <div id="background" class="style-scope paper-ripple"></div>
                    <div id="waves" class="style-scope paper-ripple"></div>
                </paper-ripple>
                <a href="/gpm-quick-nav-item/" class="style-scope gpm-quick-nav-item" data-type="wtc" aria-label="Top charts">
                    <iron-icon class="style-scope gpm-quick-nav-item">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <g class="style-scope iron-icon">
                                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" class="style-scope iron-icon"></path>
                            </g>
                        </svg>
                    </iron-icon>
                    <span id="label" class="style-scope gpm-quick-nav-item">Top charts</span></a>
            </gpm-quick-nav-item>
            <gpm-quick-nav-item slot="overflow" icon="av:new-releases" label="New releases" aria-selected-label="New releases, selected" view-type="wnr" title="">
                <paper-ripple class="style-scope gpm-quick-nav-item">
                    <div id="background" class="style-scope paper-ripple"></div>
                    <div id="waves" class="style-scope paper-ripple"></div>
                </paper-ripple>
                <a href="/gpm-quick-nav-item/" class="style-scope gpm-quick-nav-item" data-type="wnr" aria-label="New releases">
                    <iron-icon class="style-scope gpm-quick-nav-item">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <g class="style-scope iron-icon">
                                <path d="M23 12l-2.44-2.78.34-3.68-3.61-.82-1.89-3.18L12 3 8.6 1.54 6.71 4.72l-3.61.81.34 3.68L1 12l2.44 2.78-.34 3.69 3.61.82 1.89 3.18L12 21l3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L23 12zm-10 5h-2v-2h2v2zm0-4h-2V7h2v6z" class="style-scope iron-icon"></path>
                            </g>
                        </svg>
                    </iron-icon>
                    <span id="label" class="style-scope gpm-quick-nav-item">New releases</span>
                </a>
            </gpm-quick-nav-item>
            <gpm-quick-nav-item slot="overflow" icon="sj:radio" label="Browse stations" aria-selected-label="Browse stations, selected" view-type="wbs" title="">
                <paper-ripple class="style-scope gpm-quick-nav-item">
                    <div id="background" class="style-scope paper-ripple"></div>
                    <div id="waves" class="style-scope paper-ripple"></div>
                </paper-ripple>
                <a href="/gpm-quick-nav-item/" class="style-scope gpm-quick-nav-item" data-type="wbs" aria-label="Browse stations">
                    <iron-icon class="style-scope gpm-quick-nav-item">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <g transform="translate(0.000000, 3.000000)" class="style-scope iron-icon">
                                <path d="M12.086,5.63 C10.705,5.63 9.586,6.748 9.586,8.13 C9.586,9.511 10.705,10.63 12.086,10.63 C13.467,10.63 14.586,9.511 14.586,8.13 C14.586,6.748 13.467,5.63 12.086,5.63" class="style-scope iron-icon"></path>
                                <path d="M7.507,14.434 C7.135,14.183 6.787,13.896 6.472,13.58 C6.157,13.266 5.87,12.917 5.618,12.544 C5.367,12.174 5.15,11.775 4.972,11.356 C4.793,10.929 4.655,10.486 4.564,10.038 C4.47,9.579 4.422,9.105 4.422,8.63 C4.422,8.155 4.47,7.68 4.564,7.219 C4.655,6.772 4.793,6.329 4.972,5.905 C5.148,5.489 5.365,5.089 5.618,4.715 C5.868,4.344 6.155,3.996 6.472,3.68 C6.791,3.361 7.14,3.073 7.509,2.824 L8.625,4.485 C8.363,4.66 8.114,4.866 7.886,5.094 C7.66,5.32 7.454,5.57 7.275,5.834 C7.094,6.102 6.94,6.387 6.814,6.684 C6.687,6.986 6.589,7.301 6.524,7.619 C6.456,7.95 6.422,8.289 6.422,8.63 C6.422,8.97 6.456,9.309 6.524,9.638 C6.589,9.958 6.687,10.274 6.814,10.578 C6.941,10.874 7.095,11.159 7.274,11.423 C7.456,11.692 7.661,11.941 7.886,12.166 C8.111,12.392 8.361,12.597 8.627,12.777 L7.507,14.434" class="style-scope iron-icon"></path>
                                <path d="M5.271,17.751 C4.688,17.357 4.14,16.905 3.643,16.408 C3.145,15.91 2.693,15.363 2.301,14.781 C1.903,14.193 1.562,13.564 1.286,12.912 C1.006,12.249 0.79,11.554 0.646,10.846 C0.497,10.121 0.422,9.376 0.422,8.63 C0.422,7.883 0.497,7.138 0.646,6.413 C0.791,5.704 1.006,5.009 1.287,4.347 C1.562,3.695 1.903,3.067 2.301,2.478 C2.696,1.894 3.147,1.347 3.643,0.851 C4.14,0.354 4.688,-0.098 5.271,-0.492 L6.39,1.166 C5.913,1.487 5.464,1.857 5.057,2.265 C4.651,2.671 4.281,3.119 3.958,3.598 C3.633,4.079 3.354,4.593 3.129,5.126 C2.9,5.667 2.723,6.234 2.605,6.815 C2.484,7.406 2.422,8.018 2.422,8.63 C2.422,9.241 2.484,9.853 2.605,10.445 C2.723,11.024 2.9,11.591 3.128,12.133 C3.354,12.666 3.633,13.18 3.958,13.662 C4.279,14.138 4.65,14.586 5.057,14.994 C5.464,15.402 5.913,15.772 6.39,16.093 L5.271,17.751" class="style-scope iron-icon"></path>
                                <path d="M16.665,14.434 L15.545,12.777 C15.811,12.597 16.061,12.392 16.286,12.166 C16.511,11.941 16.716,11.692 16.897,11.425 C17.077,11.159 17.232,10.874 17.358,10.576 C17.485,10.274 17.583,9.958 17.648,9.64 C17.716,9.309 17.75,8.97 17.75,8.63 C17.75,8.289 17.716,7.95 17.648,7.621 C17.583,7.301 17.485,6.986 17.358,6.683 C17.232,6.387 17.078,6.102 16.897,5.834 C16.718,5.57 16.512,5.32 16.286,5.094 C16.058,4.866 15.809,4.66 15.547,4.485 L16.663,2.824 C17.032,3.073 17.381,3.361 17.7,3.68 C18.017,3.996 18.304,4.344 18.554,4.715 C18.807,5.089 19.025,5.489 19.2,5.904 C19.38,6.329 19.517,6.772 19.608,7.221 C19.702,7.68 19.75,8.155 19.75,8.63 C19.75,9.105 19.702,9.579 19.608,10.04 C19.517,10.486 19.38,10.929 19.2,11.354 C19.023,11.775 18.805,12.174 18.553,12.546 C18.302,12.917 18.015,13.266 17.7,13.58 C17.385,13.896 17.037,14.183 16.665,14.434" class="style-scope iron-icon"></path>
                                <path d="M18.901,17.751 L17.782,16.093 C18.259,15.772 18.708,15.402 19.115,14.994 C19.523,14.586 19.893,14.138 20.214,13.662 C20.539,13.18 20.818,12.666 21.043,12.133 C21.273,11.591 21.449,11.024 21.568,10.445 C21.689,9.853 21.75,9.241 21.75,8.63 C21.75,8.018 21.689,7.406 21.568,6.814 C21.449,6.234 21.273,5.667 21.044,5.126 C20.818,4.593 20.539,4.079 20.214,3.597 C19.891,3.119 19.521,2.671 19.115,2.265 C18.708,1.857 18.259,1.487 17.782,1.166 L18.901,-0.492 C19.484,-0.098 20.032,0.354 20.529,0.851 C21.025,1.347 21.476,1.894 21.871,2.477 C22.269,3.067 22.61,3.695 22.886,4.347 C23.166,5.009 23.381,5.704 23.526,6.412 C23.675,7.138 23.75,7.883 23.75,8.63 C23.75,9.376 23.675,10.121 23.526,10.846 C23.382,11.554 23.166,12.249 22.885,12.912 C22.61,13.564 22.269,14.193 21.871,14.781 C21.479,15.363 21.027,15.91 20.529,16.408 C20.032,16.905 19.484,17.357 18.901,17.751" class="style-scope iron-icon"></path>
                                <path d="M11.086,9.973 L13.086,9.973 L13.086,15.63 L11.086,15.63 L11.086,9.973 Z" class="style-scope iron-icon"></path>
                            </g>
                        </svg>
                    </iron-icon>
                    <span id="label" class="style-scope gpm-quick-nav-item">Browse stations</span>
                </a>
            </gpm-quick-nav-item>
            <gpm-quick-nav-item slot="overflow" icon="sj:podcast" label="Podcasts" aria-selected-label="Podcasts, selected" view-type="tps" title="">
                <paper-ripple class="style-scope gpm-quick-nav-item">
                    <div id="background" class="style-scope paper-ripple"></div>
                    <div id="waves" class="style-scope paper-ripple"></div>
                </paper-ripple>
                <a href="/gpm-quick-nav-item/" class="style-scope gpm-quick-nav-item" data-type="tps" aria-label="Podcasts">
                    <iron-icon class="style-scope gpm-quick-nav-item">
                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                            <g class="style-scope iron-icon">
                                <path d="M21.2,18.8a11.44,11.44,0,1,0-18.39,0l1.4-1.26a9.56,9.56,0,1,1,15.59,0Z" class="style-scope iron-icon"></path>
                                <path d="M18.39,16.27a7.69,7.69,0,1,0-12.79,0L7,15a5.81,5.81,0,1,1,10,0Z" class="style-scope iron-icon"></path>
                                <path d="M6,20.5V24H18V20.5c0-2.22-3.78-3.33-6-3.33S6,18.28,6,20.5Zm6-4.83A3.67,3.67,0,1,0,8.33,12,3.67,3.67,0,0,0,12,15.67Z" class="style-scope iron-icon"></path>
                            </g>
                        </svg>
                    </iron-icon>
                    <span id="label" class="style-scope gpm-quick-nav-item">Podcasts</span>
                </a>
            </gpm-quick-nav-item>
        </div>
    </gpm-quick-nav>

</div>