{#{% with ''|center:n as range %}#}
{#    {% for _ in range %}#}
{#        {{ forloop.counter }}#}
{#    {% endfor %}#}
{#{% endwith %}#}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link"
               href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% else %}javascript:void(0){% endif %}"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% if page_obj.paginator.num_pages <= 7 %}
            {% for i in ''|center:page_obj.paginator.num_pages %}
                <li class="page-item {% if page_obj.number == forloop.counter %}active{% endif %}">
                    <a class="page-link"
                       href="?page={{ forloop.counter }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ forloop.counter }}</a>
                </li>
            {% endfor %}
        {% elif page_obj.number <= 3 %}
            <li class="page-item {% if page_obj.number == 1 %}active{% endif %}">
                <a class="page-link"
                   href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">1</a>
            </li>
            <li class="page-item {% if page_obj.number == 2 %}active{% endif %}">
                <a class="page-link"
                   href="?page=2{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">2</a>
            </li>
            <li class="page-item {% if page_obj.number == 3 %}active{% endif %}">
                <a class="page-link"
                   href="?page=3{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">3</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span>...</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages|add:"-1" }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.paginator.num_pages|add:"-1" }}</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% elif page_obj.number >= page_obj.paginator.num_pages|add:"-2" %}
            <li class="page-item">
                <a class="page-link"
                   href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">1</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page=2{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">2</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span>...</span>
                </a>
            </li>
            <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages|add:"-2" %}active{% endif %}">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages|add:"-2" }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.paginator.num_pages|add:"-2" }}</a>
            </li>
            <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages|add:"-1" %}active{% endif %}">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages|add:"-1" }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.paginator.num_pages|add:"-1" }}</a>
            </li>
            <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% else %}
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link"
                   href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                   aria-label="Previous">
                    <span>1</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span>...</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.number|add:"-2" }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.number|add:"-2" }}</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                                     href="?page={{ page_obj.number|add:"-1" }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.number|add:"-1" }}</a>
            </li>
            <li class="page-item active">
                <a class="page-link"
                                     href="?page={{ page_obj.number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                                     href="?page={{ page_obj.number|add:"1" }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.number|add:"1" }}</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                                     href="?page={{ page_obj.number|add:"2" }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_obj.number|add:"2" }}</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span>...</span>
                </a>
            </li>
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                    <span>{{ page_obj.paginator.num_pages }}</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link"
               href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% else %}javascript:void(0){% endif %}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>

<div class="pagination justify-content-center">
    <span class="text-white">
       第 {{ page_obj.number }} 页 / 共 {{ page_obj.paginator.num_pages }} 页
    </span>
</div>

<div class="my-3"></div>