<sj-card overlay-text="1" log-token="" menu-label="More options for Detroit 2" card-aspect-ratio="default" card-size="small" play-button-log-token="" play-button-color="rgba(215,214,213,1)" play-button-icon-color="rgba(107,107,106,1)" play-button-loading-color="rgba(53,49,46,1)" play-button-pulse-color="rgba(255,255,255,0.302)" play-label="Play Detroit 2. Big Sean. ." pause-label="Pause Detroit 2. Big Sean. ." data-type="album" data-id="" module-token="CgJSAA" module-index="2" data-size="large" playback-state="" class="">
    <a id="focusCapture" role="button" href="/sj-card/" class="style-scope sj-card" aria-label="Play Detroit 2. Big Sean. ."></a>
    <div id="imageWrapper" class="style-scope sj-card">
        <img slot="image" src="https://play-music.gstatic.com/fe/f3600f3acf4683d206d21ce90d116e49/default_album.svg" draggable="false" alt="">
        <div id="overlayText" class="style-scope sj-card">1</div>
        <dom-if class="style-scope sj-card">
            <template is="dom-if"></template>
        </dom-if>
        <sj-play-button id="playButton" tabindex="-1" class="style-scope sj-card" role="button" animated="" playback-state="" log-token="" size="default" aria-label="Play Detroit 2. Big Sean. ." elevation="0" aria-disabled="false" style="--sj-play-button-pulse-color:rgba(255,255,255,0.302); --sj-play-button-icon-color:rgba(107,107,106,1); --sj-play-button-loading-color:rgba(53,49,46,1); --sj-play-button-primary-color:rgba(215,214,213,1);">
            <div id="pulse" class="style-scope sj-play-button"></div>
            <div id="buttonContent" class="style-scope sj-play-button">
                <svg id="icon" viewBox="0 0 24 24" class="style-scope sj-play-button">
                    <path id="iconPath" d="M7.995000,18.9899999 13.68046871,15.4912499 13.68046871,8.49374997 7.995000,4.995000 Z M13.6804687,15.4912499 19.3659374,11.99249994 19.3659374,11.99249994 13.6804687,8.49374997 Z" class="style-scope sj-play-button"></path>
                </svg>
            </div>
            <paper-spinner-lite id="spinner" class="style-scope sj-play-button" hidden="true" aria-hidden="true">
                <div id="spinnerContainer" class="  style-scope paper-spinner-lite">
                    <div class="spinner-layer style-scope paper-spinner-lite">
                        <div class="circle-clipper left style-scope paper-spinner-lite">
                            <div class="circle style-scope paper-spinner-lite"></div>
                        </div>
                        <div class="circle-clipper right style-scope paper-spinner-lite">
                            <div class="circle style-scope paper-spinner-lite"></div>
                        </div>
                    </div>
                </div>
            </paper-spinner-lite>
        </sj-play-button>
        <dom-if class="style-scope sj-card">
            <template is="dom-if"></template>
        </dom-if>
        <paper-icon-button id="menuButton" icon="sj:overflow" class="style-scope sj-card" aria-label="More options for Detroit 2" role="button" tabindex="0" aria-disabled="false">
            <iron-icon id="icon" class="style-scope paper-icon-button">
                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope iron-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
                    <g class="style-scope iron-icon">
                        <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" stroke="rgba(0,0,0,.5)" stroke-width=".5" class="style-scope iron-icon"></path>
                    </g>
                </svg>

            </iron-icon>
            <paper-ripple id="ink" center="" class="circle style-scope paper-icon-button">
                <div id="background" class="style-scope paper-ripple" style="opacity: 0;"></div>
                <div id="waves" class="style-scope paper-ripple"></div>
            </paper-ripple>
        </paper-icon-button>
    </div>
    <div id="details" class="details style-scope sj-card">
        <a class="home-palette-id-1 tooltip" slot="title" data-type="album" data-id="" href="">Detroit 2</a>
        <a class="home-palette-id-2 tooltip" slot="subtitle" data-type="artist" data-id="" href="" title="Big Sean">Big Sean</a>
    </div>
</sj-card>