{% extends "base.html" %}

{% load static %}

{% block navbar %}
    {% with nav_item_active='about' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}

    <div class="card w-100">
        <div class="card-body">
            <h1 class="card-title">流金岁月唱片库</h1>
            <p class="card-text">我们说好的 Ronoal</p>
            <hr class="my-4">
            <p>发送邮件 <a href="mailto:ronoal@163.com">ronoal@163.com</a></p>
            <a class="btn btn-primary btn-lg" href="mailto:ronoal@163.com" role="button">电子邮件</a>
        </div>
    </div>

{% endblock %}


