{% extends "base.html" %}

{% load static %}

{% load imagekit %}

{% block android_header %}
    {% with mdl_navigation__link__current='about' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block android_drawer %}
    {% with mdl_navigation__link__current='about' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{#{% block style %}#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">#}
    {#    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">-->#}
{#    <link rel="stylesheet" href="https://fonts.proxy.ustclug.org/css?family=Roboto:300,400,500,700">#}
{#    <!--<link rel="stylesheet" href="bundle.css">-->#}
{#    <link rel="stylesheet" href="{% static 'bundle.css' %}">#}
{#{% endblock %}#}

{% block body %}

    <div class="mdc-card demo-card">
        {#        <div class="mdc-card__media mdc-card__media--square">#}
        {#            <div class="mdc-card__media-content">Title</div>#}
        {#        </div>#}
        <!-- ... content ... -->
        <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
                <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
                <button class="mdc-button mdc-card__action mdc-card__action--button">Action 2</button>
            </div>
            <div class="mdc-card__action-icons">
                <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">
                    share
                </button>
                <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">
                    more_vert
                </button>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        <div>
        <div class="lx-aaa mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card">
                        Simple
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}


