{% extends "portal/artist_detail.html" %}

{% load static %}

{% load imagekit %}

{% block tab_bar %}
    {% with mdl_tabs_tab_is_active='artist-detail-record-list-involved' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tabs %}

    <div class="container">
        {% if object_list %}
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
                {% for record in object_list %}
                    <div class="col mb-2 mb-md-4 px-1 px-md-2">
                        <div class="card">

                            <div class="card-img-top ratio-1x1 position-relative">
                                <a href="{% url 'portal:record-detail' record.id %}">
                                    {% if record.recordcover and record.recordcover.image_exists %}
                                        <img class="ratio-1x1 w-100" src="/api/records/{{ record.id }}/cover?size=200" alt>
                                    {% else %}
                                        <img class="ratio-1x1 w-100" src="{% static 'img/svg/default_album.svg' %}" alt>
                                    {% endif %}
                                    <div id="overlayText" class="style-scope sj-card"><small>{{ record.format_value|default:'-' }}</small></div>
                                </a>
                            </div>

                            <div class="card-body">
                                <div class="card-title">
                                    <a href="{% url 'portal:record-detail' record.id %}">
                                        {{ record.title }}
                                    </a>
                                </div>
                                <p class="card-text">
                                    <small>
                                        <ul class="list-inline my-0 small">
                                            {% for artist in record.artists.all %}
                                                <li class="list-inline-item">
                                                    <a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </small>
                                    <small>{{ record.year|default:'-' }}</small>
                                </p>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

            {% include "include/pagination.html" with page_obj=page_obj %}
        {% else %}
            <div class="text-center">
                <p>暂无唱片</p>
            </div>
        {% endif %}
    </div>

{% endblock %}