{% extends "base.html" %}

{% load static %}

{% load imagekit %}

{% block navbar %}
    {% with nav_item_active='artist-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}
    流金岁月唱片库 - 歌手
{% endblock %}

{% block script %}

{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb" data-bs-theme="dark">
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">歌手</li>
        </ol>
    </nav>

    <div class="bg-light mb-3 p-3">
        <form method="get" action="#">

            {#            {% csrf_token %}#}

            <div class="mb-2">
                <label for="id_name" class="form-label"><small>歌手名</small></label>
                <input type="text" class="form-control form-control-sm" id="id_name" name="name"
                       value="{{ request.GET.name|default_if_none:"" }}">
            </div>

            <div class="mb-2">
                <label for="id_type" class="form-label"><small>歌手类型</small></label>
                <select class="form-control form-control-sm" id="id_type" name="type">
                    <option value>全部</option>
                    <option value="1" {% if request.GET.type == '1' %}selected{% endif %}>男</option>
                    <option value="0" {% if request.GET.type == '0' %}selected{% endif %}>女</option>
                    <option value="2" {% if request.GET.type == '2' %}selected{% endif %}>组合</option>
                </select>
            </div>

            <div class="mb-2">
                <label for="id_record__isnull" class="form-label"><small>有无唱片</small></label><br>
                <select class="form-control form-control-sm" id="id_record__isnull" name="record__isnull">
                    <option value>全部</option>
                    <option value="false" {% if request.GET.record__isnull == 'false' %}selected{% endif %}>
                        有
                    </option>
                    <option value="true" {% if request.GET.record__isnull == 'true' %}selected{% endif %}>无
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary btn-sm mt-2">搜索</button>
        </form>
    </div>

    <div class="container">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 row-cols-xl-5">
            {% for artist in object_list %}
                <div class="col mb-2 mb-md-4 px-1 px-md-2">
                    <div class="card">
                        <div class="card-img-top ratio-1x1 w-100 position-relative">
                            <img class="card-img-top ratio-1x1 w-100"
                                 src="{% static 'img/illo_default_artistradio_smallcard.png' %}" alt>

                            <a class="card-img-top ratio-1x1 rounded-circle position-absolute top-50 start-50 bottom-50 end-50 translate-middle" style="width: 80%;" href="{% url 'portal:artist-detail-record-list' artist.id %}">
                                {% if artist.artistavatar and artist.artistavatar.image_exists %}
                                    <img class="ratio-1x1 w-100 rounded-circle position-absolute top-50 start-50 bottom-50 end-50 translate-middle"
                                         src="/api/artists/{{ artist.id }}/cover?size=200" alt>
                                {% else %}
                                    <img class="ratio-1x1 w-100 rounded-circle position-absolute top-50 start-50 bottom-50 end-50 translate-middle"
                                         src="{% static 'img/illo_default_artistradio_portrait.png' %}" alt>
                                {% endif %}
                            </a>

                            <div id="overlayText" class="style-scope sj-card">
                                <small>{{ artist.type_value|default:'-' }}</small></div>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <a class="text-decoration-none" href="{% url 'portal:artist-detail-record-list' artist.id %}">
                                    <small>{{ artist.name }}</small>
                                </a>
                            </div>
                            <p class="card-text"><small>{{ artist.record_set.count }}张唱片</small></p>
                        </div>
                    </div>
                </div>
            {% empty %}
                empty
            {% endfor %}
        </div>
    </div>

    {% include "include/pagination.html" with page_obj=page_obj %}

{% endblock %}