{% extends "portal/artist_detail.html" %}

{% load static %}

{% block tab_bar %}
    {% with mdl_tabs_tab_is_active='artist-detail-song-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tabs %}

    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet" style="overflow-x: auto">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
            <thead>
            <tr>
                <th>#</th>
                <th>序号</th>
                <th>标题</th>
                <th>歌手</th>
                <th>唱片</th>
                <th>作曲</th>
                <th>作词</th>
            </tr>
            </thead>
            <tbody>
            {% for song in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ song.track }}</td>
                    <td><a href="{% url 'portal:song-detail' song.id %}">{{ song.title }}</a></td>
                    <td>
                        {% for artist in song.artists.all %}
                            <a href="{% url 'portal:artist-detail' artist.id %}">{{ artist.name }}</a>
                        {% endfor %}
                    </td>
                    <td><a href="{% url 'portal:record-detail' song.record.id %}">{{ song.record.title }}</a></td>
                    <td>{{ song.composer }}</td>
                    <td>{{ song.lyricist }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">No songs yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone lx-pagination-container">
        <div class="mdl-card mdl-shadow--2dp lx-pagination-parent-0">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="mdl-button" href="?page={{ page_obj.previous_page_number }}">&laquo; 上一页</a>
                    {% else %}
                        <a class="mdl-button" href="javascript:void(0)" disabled>&laquo; 上一页</a>
                    {% endif %}

                    <span class="current mdl-button" disabled>
                        第 <strong>{{ page_obj.number }}</strong> 页／共 <strong>{{ page_obj.paginator.num_pages }}</strong> 页
                    </span>

                    {% if page_obj.has_next %}
                        <a class="mdl-button" href="?page={{ page_obj.next_page_number }}">下一页 &raquo;</a>
                    {% else %}
                        <a class="mdl-button" href="javascript:void(0)" disabled>下一页 &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

{% endblock %}