{% extends "base.html" %}

{% load static %}

{% load imagekit %}

{% block android_header %}
    {% with mdl_navigation__link__current='artist-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}
    <title>流金岁月唱片库 - 歌手</title>
{% endblock %}

{% block script %}

{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">歌手</li>
        </ol>
    </nav>

    <div class="bg-light mb-md-4 p-md-4    mb-3 p-3">
        <form method="get" action="#">

            {#            {% csrf_token %}#}

            <div class="form-group">
                <label for="id_name">歌手名</label>
                <input type="text" class="form-control" id="id_name" name="name"
                       value="{{ request.GET.name|default_if_none:"" }}">
            </div>

            <div class="form-group">
                <label for="id_type">歌手类型</label>
                <select class="form-control" id="id_type" name="type">
                    <option value>全部</option>
                    <option value="1" {% ifequal request.GET.type '1' %}selected{% endifequal %}>男</option>
                    <option value="0" {% ifequal request.GET.type '0' %}selected{% endifequal %}>女</option>
                    <option value="2" {% ifequal request.GET.type '2' %}selected{% endifequal %}>组合</option>
                </select>
            </div>

            <div class="form-group">
                <label for="id_record__isnull">有无唱片</label><br>
                <select class="form-control" id="id_record__isnull" name="record__isnull">
                    <option value>全部</option>
                    <option value="false" {% ifequal request.GET.record__isnull 'false' %}selected{% endifequal %}>
                        有
                    </option>
                    <option value="true" {% ifequal request.GET.record__isnull 'true' %}selected{% endifequal %}>无
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>


    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
        {% for artist in object_list %}
            <div class="col mb-2 mb-md-4 px-1 px-md-2">
                <div class="card">
                    <div class="embed-responsive embed-responsive-1by1 card-img-top">
                        <a href="{% url 'portal:artist-detail-record-list' artist.id %}">
                            {#                        {% if artist.artistavatar and artist.artistavatar.image_exists %}#}
                            {#                            {% generateimage 'myapp:thumbnail' source=artist.artistavatar.image -- alt=artist.name id=artist.id class="card-img-top embed-responsive-item" %}#}
                            {#                        {% else %}#}
                            {#                        {% endif %}#}
                            {#                        <img src="{{ artist.artistavatar.image.url }}"#}
                            {#                             class="card-img-top embed-responsive-item"#}
                            {#                             alt="{{ record.title }}">#}
                            <img src="/api/artists/{{ artist.id }}/cover" class="embed-responsive-item" alt="{{ artist.title }}">
                        </a>
                    </div>

                    <div class="card-body">
                        <div class="card-title">
                            <a href="{% url 'portal:artist-detail-record-list' artist.id %}">
                                {{ artist.name }}
                            </a>
                        </div>
                        <p class="card-text">类型:{{ artist.type_value|default:'-' }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            empty
        {% endfor %}
    </div>

    <nav>
        <ul>
            <li>{{ page_obj }}</li>
            <li>number: {{ page_obj.number }}</li>
            <li>start_index: {{ page_obj.start_index }}</li>
            <li>end_index: {{ page_obj.end_index }}</li>
            <li>has_other_pages: {{ page_obj.has_other_pages }}</li>
            <li>paginator: {{ page_obj.paginator }}</li>
            <li>paginator.count: {{ page_obj.paginator.count }}</li>
            <li>paginator.num_pages: {{ page_obj.paginator.num_pages }}</li>
            <li>paginator.per_page: {{ page_obj.paginator.per_page }}</li>
            <li>paginator.page_range: {{ page_obj.paginator.page_range }}</li>
        </ul>
    </nav>

    {#    {% for artist in page_obj %}#}
    {# Each "contact" is a Contact model object. #}
    {#    {{ artist.name }}<br>#}
    {#{% endfor %}#}

    <nav>
        <ul class="pagination">
            <li class="page-item"><a
                    href="?{{ request.GET.urlencode }}">首页</a>
            </li>
            <li class="page-item">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        上一页
                    </a>
                {% else %}
                    上一页
                {% endif %}
            </li>
            <li class="page-item">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">47</a></li>
            <li class="page-item"><a class="page-link" href="#">48</a></li>
            <li class="page-item"><a class="page-link" href="#">49</a></li>
            <li class="page-item active"><a class="page-link" href="#">50</a></li>
            <li class="page-item"><a class="page-link" href="#">51</a></li>
            <li class="page-item"><a class="page-link" href="#">52</a></li>
            <li class="page-item"><a class="page-link" href="#">53</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">99</a></li>
            <li class="page-item"><a class="page-link" href="#">100</a></li>
        </ul>
    </nav>


{% endblock %}