{% extends "portal/artist_detail.html" %}

{% load static %}

{% load imagekit %}

{% block tab_bar %}
    {% with mdl_tabs_tab_is_active='artist-detail-record-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tabs %}

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">

        {% for record in object_list %}

            <div class="col mb-2 mb-md-4 px-1 px-md-2">
                <div class="card">

                    <div class="embed-responsive embed-responsive-1by1 card-img-top">
                        <a href="{% url 'portal:record-detail' record.id %}">
                            <img src="/api/records/{{ record.id }}/cover?size=200" class="embed-responsive-item" alt="{{ record.title }}">
{#                            {% if record.recordcover and record.recordcover.image_exists %}#}
{#                                {% generateimage 'myapp:thumbnail' source=record.recordcover.image -- alt=record.title id=record.id %}#}
{#                            {% else %}#}
{##}
{#                            {% endif %}#}
                        </a>
                    </div>

                    <div class="card-body">
                        <div class="card-title">
                            <a href="{% url 'portal:record-detail' record.id %}">
                                {{ record.title }}
                            </a>
                        </div>
                        <p class="card-text">
                            {% for artist in record.artists.all %}
                                <a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a>
                            {% endfor %}
                        </p>
                        <p class="card-text">
                            <span>年代:{{ record.year|default:'-' }}</span>
                            <br>
                            <span>介质:{{ record.format_value|default:'-' }}</span>
                        </p>
                    </div>

                </div>
            </div>

        {% empty %}

            暂无唱片

        {% endfor %}

    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone lx-pagination-container">
        <div class="mdl-card mdl-shadow--2dp lx-pagination-parent-0">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="mdl-button" href="?page={{ page_obj.previous_page_number }}">&laquo; 上一页</a>
                    {% else %}
                        <a class="mdl-button" href="javascript:void(0)" disabled>&laquo; 上一页</a>
                    {% endif %}

                    <span class="current mdl-button" disabled>
                        第 <strong>{{ page_obj.number }}</strong> 页／共 <strong>{{ page_obj.paginator.num_pages }}</strong> 页
                    </span>

                    {% if page_obj.has_next %}
                        <a class="mdl-button" href="?page={{ page_obj.next_page_number }}">下一页 &raquo;</a>
                    {% else %}
                        <a class="mdl-button" href="javascript:void(0)" disabled>下一页 &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

{% endblock %}