{% extends "base.html" %}

{% load static %}
{% load imagekit %}

{% block android_header %}
    {% with mdl_navigation__link__current='artist-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}

    {% with artist=object %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
                <li class="breadcrumb-item"><a href="{% url 'portal:artist-list' %}?record__isnull=false">歌手</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ artist.name }}</li>
            </ol>
        </nav>

        {#                {% generateimage 'myapp:thumbnail' source=artist.artistavatar.image -- alt=artist.name id=artist.id %}#}
        {#                <img src="{{ artist.artistavatar.image.url }}" class="w-100" alt="{{ artist.name }}">#}

        <div class="row no-gutters bg-light position-relative">
            <div class="cols-sm-1 col-md-3 col-lg-3 col-xl-3 mb-md-0 p-md-4">
                <a href="/api/artists/{{ artist.id }}/cover" target="_blank" class="w-100">
                    <div class="embed-responsive embed-responsive-1by1 radio-artist-background">
                        <div class="embed-responsive-item image-inner-wrapper">
                            {% if artist.artistavatar and artist.artistavatar.image_exists %}
                                <img src="/api/artists/{{ artist.id }}/cover?size=200" class="image" alt>
                            {% else %}
                                <img src="{% static 'img/illo_default_artistradio_portrait.png' %}" class="image" alt>
                            {% endif %}
                        </div>
                        <div id="overlayText" class="style-scope sj-card"><small>{{ artist.type_value|default:'-' }}</small></div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0">
                <h5 class="mt-0">{{ artist.name }}</h5>
                <p>
                    <small>
                        <br>
                        <span>专辑: {{ artist.record_set.count }}</span>
                        <br>
                        <span>歌曲: {{ artist.song_set.count }}</span>
                        <br>
                        <span>参与专辑: {{ artist.record_involved_set.count }}</span>
                    </small>
                </p>
            </div>
        </div>

        {% block tab_bar %}
            <ul class="nav nav-tabs bg-light my-3">
                <li class="nav-item">
                    <a class="nav-link{% ifequal mdl_tabs_tab_is_active 'artist-detail-record-list' %} active{% endifequal %}"
                       href="{% url 'portal:artist-detail-record-list' artist.id %}">唱片</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% ifequal mdl_tabs_tab_is_active 'artist-detail-song-list' %} active{% endifequal %}"
                       href="{% url 'portal:artist-detail-song-list' artist.id %}">歌曲</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% ifequal mdl_tabs_tab_is_active 'artist-detail-record-list-involved' %} active{% endifequal %}"
                       href="{% url 'portal:artist-detail-record-list-involved' artist.id %}">参与</a>
                </li>
            </ul>
        {% endblock %}

        <div class="tab-content">
            {% block tabs %}
            {% endblock %}
        </div>

        {% if artist.artistimages_set.all %}
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">图片</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5"
                         style="flex-wrap: nowrap; overflow-x: auto;">
                        {% for artistimage in artist.artistimages_set.all %}
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="embed-responsive embed-responsive-1by1 card-img-top">
                                        <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png"
                                             class="embed-responsive-item img-thumbnail "
                                             alt="{{ artist.name }}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {#        {% if artistimage.image_exist %}#}
        {#                                            {% generateimage 'myapp:thumbnail' source=artistimage.image -- alt=artist.name id=artist.id %}#}
        {#                                        {% else %}#}
        {#                                            #}
        {#                                        {% endif %}#}

    {% endwith %}

{% endblock %}