{% extends "base.html" %}

{% load static %}
{% load imagekit %}

{% block navbar %}
    {% with nav_item_active='artist-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}

    {% with artist=object %}

        <nav aria-label="breadcrumb" data-bs-theme="dark">
            <ol class="breadcrumb small">
                <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
                <li class="breadcrumb-item"><a href="{% url 'portal:artist-list' %}?record__isnull=false">歌手</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ artist.name }}</li>
            </ol>
        </nav>

        <div class="card mb-3 w-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <a href="/api/artists/{{ artist.id }}/cover" target="_blank">
                        <div class="ratio-1x1 w-100 position-relative">
                            <img class="ratio-1x1 w-100"
                                 src="{% static 'img/illo_default_artistradio_smallcard.png' %}" alt>

                            {% if artist.artistavatar and artist.artistavatar.image_exists %}
                                <img class="ratio-1x1 rounded-circle position-absolute top-50 start-50 bottom-50 end-50 translate-middle"
                                     style="width: 80%;"
                                     src="/api/artists/{{ artist.id }}/cover/?size=200" alt>
                            {% else %}
                                <img class="ratio-1x1 rounded-circle position-absolute top-50 start-50 bottom-50 end-50 translate-middle"
                                     style="width: 80%;"
                                     src="{% static 'img/illo_default_artistradio_portrait.png' %}" alt>
                            {% endif %}

                            <div id="overlayText" class="style-scope sj-card">
                                <small>{{ artist.type_value|default:'-' }}</small></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ artist.name }}</h5>
                        <p class="card-text">
                            <small>
                                <br>
                                <span>专辑: {{ artist.record_set.count }}</span>
                                <br>
                                <span>歌曲: {{ artist.song_set.count }}</span>
                            </small>
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <span>参与专辑: {{ artist.record_involved_set.count }}</span>
                            </small>
                        </p>
                        <p class="card-text"><small class="text-body-secondary">{{ object.record.year }}</small></p>
                    </div>
                </div>
            </div>
        </div>

        {% block tab_bar %}
            <div class="card mb-3">
                <ul class="nav nav-tabs nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link{% if mdl_tabs_tab_is_active == 'artist-detail-record-list' %} active{% endif %}"
                           href="{% url 'portal:artist-detail-record-list' artist.id %}">唱片</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if mdl_tabs_tab_is_active == 'artist-detail-song-list' %} active{% endif %}"
                           href="{% url 'portal:artist-detail-song-list' artist.id %}">歌曲</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if mdl_tabs_tab_is_active == 'artist-detail-record-list-involved' %} active{% endif %}"
                           href="{% url 'portal:artist-detail-record-list-involved' artist.id %}">参与</a>
                    </li>
                </ul>
            </div>
        {% endblock %}

        <div class="tab-content">
            {% block tabs %}
            {% endblock %}
        </div>

        {% if artist.artistimages_set.all %}
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">图片</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5"
                         style="flex-wrap: nowrap; overflow-x: auto;">
                        {% for artistimage in artist.artistimages_set.all %}
                            <div class="col mb-4">
                                <div class="card">
                                    {% if artistimage.image_exists %}
                                        <a href="/api/artists/{{ artist.id }}/images/{{ artistimage.id }}?resize=centerInside"
                                           target="_blank">
                                            <div class="embed-responsive embed-responsive-1by1 card-img-top">
                                                <img src="/api/artists/{{ artist.id }}/images/{{ artistimage.id }}?resize=centerInside"
                                                     class="embed-responsive-item img-thumbnail "
                                                     alt="{{ artist.name }}">
                                            </div>
                                        </a>
                                    {% else %}
                                        <div class="embed-responsive embed-responsive-1by1 card-img-top">
                                            <img src="{% static 'img/illo_default_artistradio_portrait.png' %}"
                                                 class="embed-responsive-item img-thumbnail "
                                                 alt="{{ artist.name }}">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% endwith %}

{% endblock %}