{% extends "base.html" %}

{% load static %}

{% block body %}
    <h1>Companies</h1>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
        </tr>
        </thead>
        <tbody>
        {% for company in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'portal:company-detail' company.id %}">{{ company.name }}</a></td>
            </tr>
        {% empty %}
            <tr>No companies yet.</tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}