{% extends "base.html" %}

{% load static %}

{% load imagekit %}

{% block navbar %}
    {% with nav_item_active='dashboard' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb" data-bs-theme="dark">
        <ol class="breadcrumb small">
            <li class="breadcrumb-item active" aria-current="page">首页</li>
        </ol>
    </nav>

    <div class="">
        {% for object in object_list %}
            <div class="card mb-3">
                <div class="card-header">
                    <a class="nav-link active" href="#"><small>{{ object.type }} ({{ object.artists.count }})</small></a>
                </div>
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                        {% for artist in object.artists %}
                            <div class="cols">
                            <div class="d-flex flex-row justify-content-start align-items-start flex-1 m-2">
                                <div class="ratio-1x1 border rounded-1" style="width: 48px; height: 48px;">
                                    {% if artist.artistavatar and artist.artistavatar.image_exists %}
                                        <img class="img-fluid ratio-1x1 w-100" src="/api/artists/{{ artist.id }}/cover?size=32">
                                    {% else %}
                                        <img class="img-fluid ratio-1x1 w-100" src="{% static 'img/illo_default_artistradio_portrait.png' %}">
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-column align-items-start ms-2">
                                    <p class="m-0">
                                        <a class="text-decoration-none" href="{% url 'portal:artist-detail-record-list' artist.id %}"><strong>{{ artist.name }}</strong></a>
                                    </p>
                                    <p class="m-0 mt-1">
                                        <small>{{ artist.record_set.count }}张唱片</small>
                                    </p>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

