{% extends "base.html" %}

{% load static %}

{% load imagekit %}

{% block navbar %}
    {% with nav_item_active='dashboard' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">首页</li>
        </ol>
    </nav>

    <div class="">
        {% for object in object_list %}
            <ul class="nav nav-tabs bg-light">
                <li class="nav-item">
                    <a class="nav-link active" href="#">{{ object.type }} ({{ object.artists.count }})</a>
                </li>
            </ul>
            <div class="container bg-light px-4 mb-4">
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-5">
                    {% for artist in object.artists %}
                        <div class="media text-muted pt-3">
                            {% if artist.artistavatar and artist.artistavatar.image_exists %}
                                <img class="bd-placeholder-img mr-2 rounded" src="/api/artists/{{ artist.id }}/cover?size=32" class="mr-3" width="32" height="32" alt>
                            {% else %}
                                <img class="bd-placeholder-img mr-2 rounded" src="{% static 'img/illo_default_artistradio_portrait.png' %}" class="mr-3" width="32" height="32" alt>
                            {% endif %}
                            <p class="media-body pb-3 mb-0 small lh-125">
                                <strong class="d-block text-gray-dark"><a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a></strong>
                                <small>{{ artist.record_set.count }}张唱片</small>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

