{% extends "base.html" %}

{% load static %}
{% load imagekit %}
{#{% load material_form %}#}

{% block android_header %}
    {% with mdl_navigation__link__current='record-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}
    <title>流金岁月唱片库 - 唱片</title>
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">唱片</li>
        </ol>
    </nav>

    <div class="bg-light mb-md-4 p-md-4    mb-3 p-3">
        <form method="get" action="#">

            {#            {% csrf_token %}#}

            <div class="form-group">
                <label for="title">标题</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ request.GET.title }}">
            </div>

            <div class="form-group">
                <label for="format">介质</label>
                <select class="form-control" id="format" name="format">
                    <option value="" selected>全部</option>
                    <option value="1" {% ifequal request.GET.format '1' %}selected{% endifequal %}>
                        CD
                    </option>
                    <option value="2" {% ifequal request.GET.format '2' %}selected{% endifequal %}>
                        LP
                    </option>
                    <option value="3" {% ifequal request.GET.format '3' %}selected{% endifequal %}>
                        MC
                    </option>
                    <option value="4" {% ifequal request.GET.format '4' %}selected{% endifequal %}>
                        DATA
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>

    <div class="container">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">
            {% for record in object_list %}
                <div class="col mb-2 mb-md-4 px-1 px-md-2">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-1by1 card-img-top">
                            <a href="{% url 'portal:record-detail' record.id %}">
                                {% if record.recordcover and record.recordcover.image_exists %}
                                    <img src="/api/records/{{ record.id }}/cover?size=200" class="embed-responsive-item" alt>
                                {% else %}
                                    <img src="{% static 'img/svg/default_album.svg' %}" class="embed-responsive-item" alt>
                                {% endif %}
                                {#                            {% generateimage 'myapp:thumbnail' source=record.recordcover.image -- alt=record.title id=record.id %}#}

                                <div id="overlayText" class="style-scope sj-card"><small>{{ record.format_value|default:'-' }}</small></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'portal:record-detail' record.id %}" class="card-title">
                                {{ record.title }}
                            </a>
                            <p class="card-text">
                            <ul class="list-inline my-0 small">
                                {% for artist in record.artists.all %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <small>{{ record.year|default:'-' }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% empty %}
                empty
            {% endfor %}
        </div>
    </div>

    <div class="">
        {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
    </div>

    <nav aria-label="...">

        <ul class="pagination justify-content-end">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}


            <li class="page-item active">
                <a class="page-link" href="#">{{ page_obj.number }}</a>
            </li>


            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}