{% extends "base.html" %}

{% load static %}
{% load imagekit %}
{#{% load material_form %}#}

{% block navbar %}
    {% with nav_item_active='record-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}
    流金岁月唱片库 - 唱片
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb" data-bs-theme="dark">
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">唱片</li>
        </ol>
    </nav>

    <div class="card m-100">
        {#        <div class="card-header">#}
        {#            <div class="btn-toolbar" role="toolbar">#}
        {#                <button type="button" class="btn btn-primary btn-sm me-2"#}
        {#                        data-bs-toggle="collapse" data-bs-target="#collapseExample"#}
        {#                        aria-expanded="false" aria-controls="collapseExample">#}
        {#                    <span>#}
        {#                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">#}
        {#                            <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708"/>#}
        {#                        </svg>#}
        {#                    </span>#}
        {#                    <span>#}
        {#                        展开 搜索#}
        {#                    </span>#}
        {#                </button>#}
        {#                <button type="button" class="btn btn-secondary btn-sm me-2">标题：{{ request.GET.title }}</button>#}
        {#                <button type="button" class="btn btn-secondary btn-sm me-2">介质：{{ request.GET.format }}</button>#}
        {#                <button type="button" class="btn btn-secondary me-2">作曲：{{ request.GET.work_type_1 }}</button>#}
        {#                <button type="button" class="btn btn-secondary">作词：{{ request.GET.work_type_2 }}</button>#}
        {#            </div>#}
        {#            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"#}
        {#                    aria-expanded="false" aria-controls="collapseExample">#}
        {#                Button with data-bs-target#}
        {#            </button>#}
        {#        </div>#}
        {#        <div class="card-body collapse" id="collapseExample">#}
        <div class="card-body" id="collapseExample">
            <form class="" method="get" action="#">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="inputTitle" class="form-label"><small>标题</small></label>
                    <input type="text" class="form-control form-control-sm" id="inputTitle" name="title"
                           value="{{ request.GET.title }}">
                </div>
                <div class="mb-2">
                    <label for="inputFormat" class="form-label"><small>介质</small></label>
                    <select id="format" class="form-control form-control-sm" name="format">
                        <option value="" {% if request.GET.format == '' %}selected{% endif %}>全部</option>
                        <option value="1" {% if request.GET.format == '1' %}selected{% endif %}>
                            CD
                        </option>
                        <option value="2" {% if request.GET.format == '2' %}selected{% endif %}>
                            LP
                        </option>
                        <option value="3" {% if request.GET.format == '3' %}selected{% endif %}>
                            MC
                        </option>
                        <option value="4" {% if request.GET.format == '4' %}selected{% endif %}>
                            DATA
                        </option>
                    </select>
                </div>

                {#<div class="col-md-6">#}
                {#    <label for="inputWorkType1" class="form-label">作曲</label>#}
                {#    <input type="text" class="form-control" id="inputWorkType1" name="work_type_1" value="{{ request.GET.work_type_1 }}">#}
                {#</div>#}
                {##}
                {#<div class="col-md-6">#}
                {#    <label for="inputWorkType2" class="form-label">作词</label>#}
                {#    <input type="text" class="form-control" id="inputWorkType2" name="work_type_2" value="{{ request.GET.work_type_2 }}">#}
                {#</div>#}

                <button type="submit" class="btn btn-primary btn-sm mt-2">搜索</button>
            </form>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 row-cols-xl-5">
            {% for record in object_list %}
                <div class="cols mb-2 mb-md-4 px-1 px-md-2">
                    <div class="card">
                        <div class="card-img-top ratio-1x1 w-100 d-flex position-relative">
                            <a class="ratio-1x1 w-100" href="{% url 'portal:record-detail' record.id %}">
                                <img class="ratio-1x1 w-100" src="{% static 'img/svg/default_album.svg' %}" alt>
                                {% if record.recordcover and record.recordcover.image_exists %}
                                    <img src="/api/records/{{ record.id }}/cover?size=200"
                                         class="position-absolute top-0 start-0 bottom-0 end-0 ratio-1x1 w-100"
                                         alt>
                                {% endif %}
                            </a>
                            <div id="overlayText" class="">
                                <small>{{ record.format_value|default:'-' }}</small></div>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <a class="text-decoration-none" href="{% url 'portal:record-detail' record.id %}">
                                    {{ record.title }}
                                </a>
                            </div>
                            <p class="card-text">
                            <ul class="list-inline my-0 small">
                                {% for artist in record.artists.all %}
                                    <li class="list-inline-item">
                                        <a class="text-decoration-none"
                                           href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <small>{{ record.year|default:'-' }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% empty %}
                empty
            {% endfor %}
        </div>
    </div>

    {% include "include/pagination.html" with page_obj=page_obj %}

{% endblock %}