{% extends "base.html" %}

{% load static %}
{% load imagekit %}

{% block navbar %}
    {% with nav_item_active='record-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}

    {% with record=object %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
                <li class="breadcrumb-item"><a href="{% url 'portal:record-list' %}">唱片</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ record.title }}</li>
            </ol>
        </nav>

        <div class="row no-gutters bg-light position-relative">
            <div class="cols-sm-1 col-md-3 col-lg-3 col-xl-3 mb-md-0 p-md-4">
                <a href="/api/records/{{ record.id }}/cover" target="_blank" class="w-100">
                    <div class="embed-responsive embed-responsive-1by1">
                        {#                    {% generateimage 'myapp:thumbnail' source=source_file -- alt=record.title id=record.id %}#}
                        {% if record.recordcover_exists and record.recordcover.image_exists %}
                            <img src="/api/records/{{ record.id }}/cover?size=200" class="embed-responsive-item" alt>
                        {% else %}
                            <img src="{% static 'img/svg/default_album.svg' %}" class="embed-responsive-item" alt>
                        {% endif %}
                        <div id="overlayText" class="style-scope sj-card"><small>{{ record.format_value|default:'-' }}</small></div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0">
                <h5 class="mt-0">{{ record.title }}</h5>
                <h6><small>编号&nbsp;{{ record.number }}</small></h6>
                <h6><small>年代&nbsp;{{ record.year }}</small></h6>
                <p>
                    <small>
                        <ul class="list-inline my-0">
                            {% for artist in record.artists.all %}
                                <li class="list-inline-item"><a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </small>
                </p>
                <p>
                    <small>
                        {% if record.company %}
                            唱片公司&nbsp;{{ record.company.name }}
                        {% endif %}
                    </small>
                </p>
            </div>
        </div>

        <div class="table-responsive bg-light my-3">
            <table class="table table-sm">
                {#                <thead class="thead-light">#}
                {#                <tr>#}
                {#                    <th scope="col"></th>#}
                {#                    <th scope="col"></th>#}
                {#                </tr>#}
                {#                </thead>#}
                <tbody>
                <tr>
                    <th scope="row" class="w-25">发行时间</th>
                    <td>{{ record.release_detail|default_if_none:'-' }}</td>
                </tr>
                <tr>
                    <th scope="row" class="w-25">监制</th>
                    <td>{{ record.producer|default_if_none:'-' }}</td>
                </tr>
                <tr>
                    <th scope="row">录音</th>
                    <td>{{ record.recorder|default_if_none:'-' }}</td>
                </tr>
                <tr>
                    <th scope="row">混音</th>
                    <td>{{ record.mixer|default_if_none:'-' }}</td>
                </tr>
                <tr>
                    <th scope="row">乐手</th>
                    <td>{{ record.bandsman|default_if_none:'-' }}</td>
                </tr>
                <tr>
                    <th scope="row">说明</th>
                    <td>{{ record.description|default_if_none:'-' }}</td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="table-responsive">
            <table class="table table-sm table-light">
                <thead class="thead-light">
                <tr>
                    <th scope="col"><small>#</small></th>
                    <th scope="col"><small>标题</small></th>
                    <th scope="col"><small>歌手</small></th>
                    <th scope="col"><img src="{% static '/img/svg/more_horiz-24px.svg' %}" alt="" width="18" height="18" title="{{ song.title }}"></th>
                </tr>
                </thead>
                <tbody>
                {% for song in record.song_set.all %}
                    <tr>
                        <th scope="row"><small>{{ song.track }}</small></th>
                        <td>
                            <small>
                                <a href="{% url 'portal:song-detail' song.id %}">{{ song.title }}</a>
                            </small>
                        </td>
                        <td>
                            <small>
                                <ul class="list-inline my-0">
                                    {% for artist in song.artists.all %}
                                        <li class="list-inline-item"><a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </small>
                        </td>
                        <td>
                            <a href="{% url 'portal:song-detail' song.id %}">
                                <img src="{% static '/img/svg/info-24px-outlined.svg' %}" alt="" width="18" height="18" title="{{ song.title }}">
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    empty
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if record.recordimages_set.all %}
            <div class="card text-center my-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">图片</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-5"
                         style="flex-wrap: nowrap; overflow-x: scroll;">
                        {% for recordimage in record.recordimages_set.all %}
                            <div class="col mb-4">
                                <div class="card">
                                    <a href="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" target="_blank">
                                        <div class="embed-responsive embed-responsive-1by1 card-img-top">
                                            <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png"
                                                 class="embed-responsive-item img-thumbnail "
                                                 alt="{{ record.title }}">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                        {% for recordimage in record.recordimages_set.all %}
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="embed-responsive embed-responsive-1by1 card-img-top">
                                        <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png"
                                             class="embed-responsive-item img-thumbnail "
                                             alt="{{ record.title }}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {% for recordimage in record.recordimages_set.all %}
                            <div class="col mb-4">
                                <div class="card">
                                    <div class="embed-responsive embed-responsive-1by1 card-img-top">
                                        <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png"
                                             class="embed-responsive-item img-thumbnail "
                                             alt="{{ record.title }}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}


        {#        {% if recordimage.image_exists %}#}
        {#                                            {% generateimage 'myapp:thumbnail' source=recordimage.image -- alt=record.title id=record.id %}#}
        {#                                        {% else %}#}
        {#                                        {% endif %}#}

    {% endwith %}

{% endblock %}