{% extends "base.html" %}

{% load static %}

{% block navbar %}
    {% with nav_item_active='song-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}
    流金岁月唱片库 - 歌曲
{% endblock %}

{#{% block style %}#}
{#    <style>#}
{#        .lx-form {#}
{#            min-height: 0;#}
{#        }#}
{##}
{#        .lx-form .mdl-card__actions {#}
{#            display: flex;#}
{#            box-sizing: border-box;#}
{#            align-items: center;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}

{% block body %}

    <ol class="breadcrumb small" data-bs-theme="dark">
        <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">歌曲</li>
    </ol>

    <div class="card m-100">
{#        <div class="card-header">#}
{#            <div class="btn-toolbar" role="toolbar">#}
{#                <button type="button" class="btn btn-primary btn-sm me-2"#}
{#                        data-bs-toggle="collapse" data-bs-target="#collapseExample"#}
{#                        aria-expanded="false" aria-controls="collapseExample">#}
{#                    <span>#}
{#                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
{#                             class="bi bi-chevron-expand" viewBox="0 0 16 16">#}
{#                            <path fill-rule="evenodd"#}
{#                                  d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708"/>#}
{#                        </svg>#}
{#                    </span>#}
{#                    <span>#}
{#                        展开 搜索#}
{#                    </span>#}
{#                </button>#}
{#                <button type="button" class="btn btn-secondary btn-sm me-2">标题：{{ request.GET.title }}</button>#}
{#                <button type="button" class="btn btn-secondary btn-sm me-2">#}
{#                    作曲：{{ request.GET.worker_type_1 }}</button>#}
{#                <button type="button" class="btn btn-secondary btn-sm">作词：{{ request.GET.worker_type_2 }}</button>#}
{#            </div>#}
            {#            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"#}
            {#                    aria-expanded="false" aria-controls="collapseExample">#}
            {#                Button with data-bs-target#}
            {#            </button>#}
{#        </div>#}
{#        <div class="card-body collapse" id="collapseExample">#}
        <div class="card-body" id="collapseExample">
            <form class="row g-3" method="get" action="#">
                {#            {% csrf_token %}#}
                <div class="mb-1 row"></div>
                <div class="mb-1 row">
                    <label for="inputTitle" class="col-sm-2 col-form-label col-form-label-sm">标题</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="inputTitle" name="title"
                               value="{{ request.GET.title }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputWorkType1" class="form-label col-form-label-sm">作曲</label>
                    <input type="text" class="form-control form-control-sm" id="inputWorkType1" name="worker_type_1"
                           value="{{ request.GET.worker_type_1 }}">
                </div>

                <div class="col-md-6">
                    <label for="inputWorkType2" class="form-label col-form-label-sm">作词</label>
                    <input type="text" class="form-control form-control-sm" id="inputWorkType2" name="worker_type_2"
                           value="{{ request.GET.worker_type_2 }}">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-sm">搜索</button>
                </div>

            </form>
        </div>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-sm table-light">
            <thead>
            <tr>
                <th scope="col" class="px-2"><small>#</small></th>
                <th scope="col"><small>标题</small></th>
                <th scope="col"><small>歌手</small></th>
                <th scope="col"><small>唱片</small></th>
                <th scope="col"><small>词曲</small></th>
                <th scope="col"><img src="{% static '/img/svg/more_horiz-24px.svg' %}" alt="" width="18" height="18"
                                     title="{{ song.title }}"></th>
            </tr>
            </thead>
            <tbody>
            {% for song in object_list %}
                <tr>
                    <th scope="row" class="px-2">
                        <small>
                            {{ forloop.counter }}
                        </small>
                    </th>
                    <td>
                        <small>
                            <a href="{% url 'portal:song-detail' song.id %}">{{ song.title }}</a>
                        </small>
                    </td>
                    <td>
                        <small>
                            <ul class="list-inline my-0">
                                {% for artist in song.artists.all %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </small>
                    </td>
                    <td>
                        <small>
                            <a href="{% url 'portal:record-detail' song.record.id %}">{{ song.record.title }}</a>
                        </small>
                    </td>
                    <td>
                        {% for worker in song.songworker_set.all %}
                            {% if worker.type_id == 1 or worker.type_id == 2 %}
                                <small>{{ worker.type }}: {{ worker.name }}</small><br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'portal:song-detail' song.id %}">
                            <img src="{% static '/img/svg/info-24px-outlined.svg' %}" alt="" width="18" height="18"
                                 title="{{ song.title }}">
                        </a>
                    </td>
                </tr>
{#                {% with hasWorkder=False %}#}
{#                    {% static hasWorkder %}#}
{#                    {% for worker in song.songworker_set.all %}#}
{#                        {% if worker.type_id == 1 or worker.type_id == 2 %}#}
{##}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    {{ hasWorkder }}#}
{#                    {% if hasWorkder %}#}
{##}
{#                        <tr>#}
{#                            <th scope="row" class="px-2">#}
{##}
{#                            </th>#}
{#                            <td colspan="4">#}
{#                                {% for worker in song.songworker_set.all %}#}
{#                                    {% if worker.type_id == 1 or worker.type_id == 2 %}#}
{#                                        <small>{{ worker.type }}: {{ worker.name }}</small>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endif %}#}
{#                {% endwith %}#}


            {% empty %}
                empty
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "include/pagination.html" with page_obj=page_obj %}
{% endblock %}