{% extends "base.html" %}

{% load static %}

{% block android_header %}
    {% with mdl_navigation__link__current='song-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'portal:song-list' %}">歌曲</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
        </ol>
    </nav>

    {% with record=object.record %}

        <div class="media">
            {#            <img src="..." class="mr-3" alt="...">#}
            <div class="mr-3">
                {% if record.recordcover_exists and record.recordcover.image_exists %}
                    <img src="/api/records/{{ record.id }}/cover?size=64" width="64" height="64" class="embed-responsive-item" alt>
                {% else %}
                    <img src="{% static 'img/svg/default_album.svg' %}" width="64" height="64" class="embed-responsive-item" alt>
                {% endif %}
            </div>
            <div class="media-body">
                <h5 class="mt-0">{{ object.title }}</h5>
                <ul class="list-inline small">
                    {% for artist in song.artists.all %}
                        <a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a>
                    {% endfor %}
                </ul>
                <small>唱片 <a href="{% url 'portal:record-detail' song.record.id %}">{{ object.record.title }}</a></small>
            </div>
        </div>

    {% endwith %}

    <div class="table-responsive bg-light">
        <table class="table table-sm">
            <tbody>
            <tr>
                <th scope="row">作词</th>
                <td>{{ object.composer|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">作曲</th>
                <td>{{ object.lyricist|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">编曲</th>
                <td>{{ object.arranger|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">和音</th>
                <td>{{ object.vocalist|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">监制</th>
                <td>{{ object.producer|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">乐手</th>
                <td>{{ object.bandsman|default:"" }}</td>
            </tr>
            <tr>
                <th scope="row">说明</th>
                <td>{{ object.description|default:"" }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}