{% extends "base.html" %}

{% load static %}

{% block android_header %}
    {% with mdl_navigation__link__current='song-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}
    <title>流金岁月唱片库 - 歌曲</title>
{% endblock %}

{#{% block style %}#}
{#    <style>#}
{#        .lx-form {#}
{#            min-height: 0;#}
{#        }#}
{##}
{#        .lx-form .mdl-card__actions {#}
{#            display: flex;#}
{#            box-sizing: border-box;#}
{#            align-items: center;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">歌曲</li>
    </ol>

    <div class="bg-light mb-md-4 p-md-4    mb-3 p-3">
        <form method="get" action="#">

            <div class="form-group">
                <label for="title">歌曲标题</label><br>
                <input type="text" class="form-control" id="title" name="title" value="{{ request.GET.title }}"><br>
            </div>

            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col"><small>#</small></th>
                <th scope="col"><small>标题</small></th>
                <th scope="col"><small>歌手</small></th>
                <th scope="col"><small>唱片</small></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for song in object_list %}
                <tr>
                    <th scope="row">
                        <small>
                            {{ forloop.counter }}
                        </small>
                    </th>
                    <td>
                        <small>
                            <a href="{% url 'portal:song-detail' song.id %}">{{ song.title }}</a>
                        </small>
                    </td>
                    <td>
                        <small>
                            <ul class="list-inline my-0">
                                {% for artist in song.artists.all %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </small>
                    </td>
                    <td>
                        <small>
                            <a href="{% url 'portal:record-detail' song.record.id %}">{{ song.record.title }}</a>
                        </small>
                    </td>
                    <td>
                        <small>
                            <a href="{% url 'portal:song-detail' song.id %}">详情</a>
                        </small>
                    </td>
                </tr>
            {% empty %}
                empty
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="">
        {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
    </div>

    <nav aria-label="...">
        <ul class="pagination pagination-sm justify-content-end">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}


            <li class="page-item active">
                <a class="page-link" href="#">{{ page_obj.number }}</a>
            </li>


            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}