{% extends "base.html" %}

{% load static %}

{% block navbar %}
    {% with nav_item_active='song-list' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb" data-bs-theme="dark">
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{% url 'portal:dashboard' %}">首页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'portal:song-list' %}">歌曲</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
        </ol>
    </nav>

    {% with record=object.record %}


        <div class="card mb-3 w-100">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="w-100 ratio ratio-1x1">
                        <img src="{% url 'portal:album_cover_id_size' record.id 'front' '250' %}"
                             onerror="this.src='{% static 'img/svg/default_album.svg' %}';"
                             class="w-100 h-100 object-fit-cover"
                             alt>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title }}</h5>
                        <p class="card-text"><a
                                href="{% url 'portal:record-detail' song.record.id %}">[{{ object.record.title }}]</a>
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                {% for artist in song.artists.all %}
                                    <a href="{% url 'portal:artist-detail-record-list' artist.id %}">{{ artist.name }}</a>
                                {% endfor %}
                            </small>
                        </p>
                        <p class="card-text"><small class="text-body-secondary">{{ object.record.year }}</small></p>
                    </div>
                </div>
            </div>
        </div>

    {% endwith %}

    <div class="table-responsive bg-light px-2">
        <table class="table table-sm">
            <tbody>

            {% for worker in object.songworker_set.all %}
                <tr>
                    <th scope="row" class="w-25"><small>{{ worker.type }}</small></th>
                    <td><small>{{ worker.name|default:"-" }}</small></td>
                </tr>
            {% endfor %}

            <tr>
                <th scope="row"><small>乐手</small></th>
                <td><small>{{ object.bandsman|default:"-" }}</small></td>
            </tr>
            <tr>
                <th scope="row"><small>说明</small></th>
                <td><small>{{ object.description|default:"-" }}</small></td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}