{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.2-dist/css/bootstrap.min.css' %}">

    <title>流金岁月</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    <link rel="stylesheet" href="{% static 'css/abc.css' %}">



    {% block title %}
    {% endblock %}

    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</head>

<body data-admin-utc-offset="{% now "Z" %}">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap-4.5.2-dist/js/bootstrap.min.js' %}"></script>

<div>

    <ul>
        <li><a href="{% url 'portal:dashboard' %}">首页</a></li>
        <li><a href="{% url 'portal:record-list' %}">唱片</a></li>
        <li><a href="{% url 'portal:artist-list' %}">歌手</a></li>
        <li><a href="{% url 'portal:song-list' %}">歌曲</a></li>
    </ul>

    <ul>
        <li><a href="{% url 'portal:about' %}">关于</a></li>
    </ul>

    <ul>
        <li><a class="mdl-navigation__link" href="{% url 'admin:login' %}?next=/portal/dashboard/">登录</a></li>
        <li><a class="mdl-navigation__link" href="{% url 'admin:logout' %}?next=/portal/dashboard/">退出</a></li>
        <li>
            <a class="mdl-navigation__link{% ifequal mdl_navigation__link__current 'import-records' %} mdl-navigation__link--current{% endifequal %}"
               href="{% url 'portal:import-records' %}">导入唱片</a>
        </li>
        <li>
            <a class="mdl-navigation__link{% ifequal mdl_navigation__link__current 'import-artists' %} mdl-navigation__link--current{% endifequal %}"
               href="{% url 'portal:import-artists' %}">导入歌手</a>
        </li>
    </ul>

    {% block android_header %}
    {% endblock %}

</div>

{% block body %}
{% endblock %}

</body>
</html>