{% load static %}
<!doctype html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {#    <title>Android</title>#}
    {% block title %}
    {% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'mdl/material.min.css' %}">
    <script src="{% static 'mdl/material.min.js' %}"></script>
    {#    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
    <link rel="stylesheet" href="https://fonts.conf.top/icon?family=Material+Icons">


    <link rel="stylesheet" href="{% static 'mdl-template-android-dot-com/styles.css' %}">
    <link rel="stylesheet" href="{% static 'mdl-template-portfolio/styles.css' %}">

    <link rel="stylesheet" href="{% static 'css/lx.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    {#    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">-->#}
    <link rel="stylesheet" href="https://fonts.proxy.ustclug.org/css?family=Roboto:300,400,500,700">
    <!--<link rel="stylesheet" href="bundle.css">-->
    <link rel="stylesheet" href="{% static 'bundle.css' %}">

    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</head>

<body data-admin-utc-offset="{% now "Z" %}">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <ul>
        <li><a href="{% url 'portal:dashboard' %}">首页</a></li>
        <li><a href="{% url 'portal:record-list' %}">唱片</a></li>
        <li><a href="{% url 'portal:artist-list' %}">歌手</a></li>
        <li><a href="{% url 'portal:song-list' %}">歌曲</a></li>
    </ul>

    <ul>
        <li><a href="{% url 'portal:about' %}">关于</a></li>
    </ul>

    <ul>
        <li><a class="mdl-navigation__link" href="{% url 'admin:login' %}?next=/portal/dashboard/">登录</a></li>
        <li><a class="mdl-navigation__link" href="{% url 'admin:logout' %}?next=/portal/dashboard/">退出</a></li>
        <li>
            <a class="mdl-navigation__link{% ifequal mdl_navigation__link__current 'import-records' %} mdl-navigation__link--current{% endifequal %}"
               href="{% url 'portal:import-records' %}">导入唱片</a>
        </li>
        <li>
            <a class="mdl-navigation__link{% ifequal mdl_navigation__link__current 'import-artists' %} mdl-navigation__link--current{% endifequal %}"
               href="{% url 'portal:import-artists' %}">导入歌手</a>
        </li>
    </ul>

    {% block android_header %}

    {% endblock %}

    {% block android_drawer %}
    {% endblock %}

    {% block body %}
    {% endblock %}
</div>

</body>
</html>